.main-container{
    display: flex;
    justify-content: space-around;

}

.cart-container{
    width: 50%;
    box-shadow: 4px 4px 8px gray;
    margin: auto;
    text-align: center;
}

.product-container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 15px;
    /* border: 1px solid black; */
    width: 100%;
    margin: auto;
    text-align: center;
}

.cart{
    border: 1px solid gray;
    padding: 10px;
}

.cart-img{
    width: 150px;
}

.cart-info{
    display: flex;
    gap: 50px;
}